.AppTable {
    
}

.AppTable-Head {
    
}

.AppTable-Body {
    
}

.AppTable-Row {
    
}

.AppTable-Col-Num {
    width: 5%;
}

.AppTable-Col-Title {
    width: 55%;
}

.AppTable-Col-Actions {
    width: 25%;
}