.BookTable {
    
}

.BookTable-Head {
    
}

.BookTable-Body {
    
}

.BookTable-Row {
    
}

.BookTable-Col-Num {
    width: 5%;
}

.BookTable-Col-Title {
    width: 55%;
}

.BookTable-Col-Actions {
    width: 25%;
}